.github/
.vscode/
build/**/*.ts
demo/
image/
node_modules/
!node_modules/vscode-uri
!node_modules/jsonc-parser
src/
task/
test/
.eslint*
.gitignore
.huskyrc.js
.mocharc.js
tsconfig.json
yarn-error.log