.github/
.vscode/
build/**/*.ts
demo/
image/
!image/icon.png
node_modules/
!node_modules/ts-predicates
!node_modules/typeof-util
!node_modules/vscode-uri
src/
test/
.eslint*
.gitignore
.mocharc.js
gulpfile.ts
tsconfig.json
yarn-error.log